* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

/* MOBILE VERSION */
@media only screen and (min-width: 375px) {
  #nav-bar-header {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    background-image: url(./Images/header-background-mobile.png);
    position: fixed;
    top: 0;
    padding-top: 20px;
    padding-bottom: 10px;
  }

  #side-navbar-container {
    display: none;
  }

  #union-img:hover {
    opacity: 0.8;
  }

  #union-img:active {
    opacity: 3;
  }

  #logo-image {
    width: 5rem;
    height: 1.25rem;
  }

  #vector-image {
    border: 2px solid rgb(92, 54, 166);
    width: auto;
    height: 30px;
  }

  main {
    height: 100vh;
    background-size: cover;
  }

  #main-container {
    display: flex;
    flex-direction: column;
    padding: 100px 24px;
    align-items: flex-start;
    margin-top: 80px;
    /* background-image: url(./Images/header-shapes\ mobile.png); */
    background-size: cover;
  }

  /* MAIN SECTION START  */
  #main-header {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 130%;
    display: flex;
    color: #172b4d;
    width: 20rem;
    height: 10rem;
    align-items: center;
    margin-top: 1rem;
  }

  .link h2 {
    font-family: 'Poppins', sans-serif;
    color: #7f8cff;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 150%;
    margin-top: 5px;
  }

  #intro-text {
    width: 20rem;
    height: 10rem;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-top: 0.75rem;
    color: #344563;
  }

  .fa-bars {
    color: #6070ff;
  }

  #linkedin-container {
    margin-left: 10px;
    position: relative;
  }

  #o-png {
    position: absolute;
    left: -7px;
    top: -4px;
  }

  #I-png {
    position: absolute;
    left: -7px;
    top: 3px;
  }

  #social-links {
    margin-top: 0.75rem;
  }

  #social-links-container {
    display: flex;
    list-style: none;
  }

  .social-links-img {
    height: 1.25rem;
    margin-right: 0.5rem;
  }

  /* WORK SECTION START  */

  #work {
    display: grid;
    grid-template-columns: 100%;
    grid-row-gap: 50px;
  }

  .project-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 346px;
    margin: 0 auto;
    padding: 20px 5px;
    border: 1px solid #dfe1e6;
    border-radius: 20px;
  }

  figure {
    margin: 10px auto;
  }

  .snap-shot-image {
    width: 100%;
  }

  .project-showing {
    padding: 0 20px;
  }

  .project-showing h2 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color: #172b4d;
    margin-top: 12px;
  }

  .experience {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 20px;
  }

  #canopy-text {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #344563 !important;
  }

  .experience li {
    margin-right: 10px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    list-style: none;
    color: #7a869a;
  }

  .skill-buttons {
    margin-top: 16px;
    display: flex;
    justify-content: start;
  }

  .info-text {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #344563;
    margin-top: 20px;
  }

  .skill-buttons li {
    color: #6070ff;
    padding: 4px 12px;
    background-color: #ebebff;
    border: none;
    border-radius: 8px;
    border-color: white;
    outline: none;
    list-style: none;
    margin-right: 8px;
  }

  .view-project-button {
    margin-top: 25px;
  }

  .counter-img {
    margin-right: 12px;
  }

  .view-project-button button {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    color: #396df2;
    padding: 15px 20px;
    border-radius: 16px;
    background-color: #fff;
    border-color: #396df2;
  }

  /* ABOUT MYSELF SECTION START  */

  #about-myself-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 100px 24px;
    margin-top: 40px;
  }

  #about-myself-section h2 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #172b4d;
  }

  #about-text {
    font-size: 16px !important;
    color: #344563;
  }

  #about-myself-social-links {
    margin-top: 29px !important;
  }

  #about-myself-link {
    margin-top: 12px;
  }

  #about-myself-link h2 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7f8cff;
  }

  /* LANGUAGE SECTION START  */

  #language-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 30px auto;
    justify-content: center;
  }

  #language-header {
    display: flex;
    justify-content: space-between;
    width: 80%;
  }

  #language-header h2 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000;
    margin-bottom: 36px;
  }

  #language-header-box {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  #skills-container-box {
    display: flex;
    flex-direction: column;
  }

  .skills {
    background: #f7f7f9;
    border-radius: 8px;
    margin-top: 12px;
    display: flex;
    padding: 18px 12px;
    align-items: center;
    justify-content: space-evenly;
  }

  .skills span {
    width: 212px;
    padding: 15px 10px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
  }

  .framework-skill {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .framework-skill-header {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
  }

  .framework-skill img {
    height: 12px;
  }

  #framework-container {
    margin-top: 36px;
  }

  #separator-img {
    margin: 23px 0;
  }

  #separator-img2 {
    display: none;
  }

  /* CONTACT ME SECTION START  */

  #contact-me-section {
    display: flex;
    flex-direction: column;
    background-image: url(./Images/header-shapes\ mobile.png);
    background-size: cover;
    background-color: #6070ff;
    padding: 103px 2px;
    border-radius: 80px 0 0 0;
  }

  #contact-me-header {
    text-align: center;
    padding: 12px 24px;
  }

  #contact-me-header h2 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #fff;
  }

  #contact-me-header p {
    margin-top: 12px;
    color: #ebebff;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
  }

  #contact-me-form {
    margin: 20px auto;
    padding: 10px 40px;
    width: 90%;
  }

  #contact-me-form input {
    width: 100%;
    margin-top: 25px;
    padding: 15px 38px 15px 16px;
    background: #fff;
    border: 1px solid #cfd8dc;
    border-radius: 8px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
  }

  #message-box {
    width: 100%;
    margin-top: 33px;
    background: #fff;
    border: 1px solid #cfd8dc;
    border-radius: 8px;
    padding: 15px 38px 15px 0;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
  }

  ::placeholder {
    color: #b3bac5;
  }

  #contact-me-form button {
    margin-top: 34px;
    padding: 12px 16px;
    background-color: #fff;
    color: #6070ff;
    display: block;
    border-radius: 8px;
    outline: none;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
  }
}

/* DESKTOP VERSION */
@media only screen and (min-width: 768px) {
  #nav-bar-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 30px 155px 10px 155px;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 4;
    
  }

  #union-img {
    display: none;
  }

  #side-navbar-container {
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 300px;
  }

  #side-navbar-container li {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #344563;
  }

  main{
    border: 1px solid #dfe1e6;
    border-radius: 0px 0px 0px 100px;
    background-image: url(./Images/Header\ bg.png);
    background-size: cover;
  }
  #main-container {
    display: flex;
    justify-content: flex-start;
    width: 80%;
    margin: 100px auto;
    padding: 180px 170px;
  }


  #text-container {
    width: 730px;
  }

  #main-header {
    width: 400px;
    height: 122px;
    text-align: left;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    margin-left: 0;
  }

  #intro-text {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;
    color: #344563;
    width: 100%;
    height: 84px;
    text-align: left;
  }

  .link {
    font-family: 'Poppins', sans-serif;
    color: #7f8cff;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 150%;
  }

  /* WORK SECTION START  */
  #work {
    margin-top: 100px;
  }

  .project-section {
    width: 95%;
    display: flex;
    flex-direction: row;
    
  }

  figure {
    width: 500px;
  }

  #availibity-card {
    display: flex;
    flex-direction: row-reverse;
  }

  #professional-art-card {
    display: flex;
    flex-direction: row-reverse;
  }

  /* ABOUT MYSELF SECTION START  */

  #about-myself-section {
    margin: auto;
    display: flex;
    width: 85%;
    flex-direction: row;
    align-content: flex-start;
    }

    #about-myself-container {
      flex: 1;
      margin-right: 48px;
    }

    #language-section {
      flex:1; 
      margin: 0;
    }

    #language-header {
      padding: 12px;
    }

    #language-header-box {
      width: 100%;
    }
    #language-header h2 {
      margin-bottom: 0;
    }

    #language-header i {
      display: none;
    }

    .right-chevron {
      display: none;
    }

    #skills-container-box {
      display: flex;
      flex-direction: row;
      width: 100%;
    }

    .skills {
      display: flex;
      flex-direction: column;
      flex: 1;
      margin-right: 12px;
    }

    .skills span {
      width: 100%;
      text-align: center;
    }

    #separator-img {
      width: 100%;
    }
    #separator-img2 {
      width: 100%;
      display: block;
      margin-top: 23px;
    }









}
